body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "en", helvetica;
  color: #777;
}
@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('droneimage.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}
.a{

  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.b{

  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.c{

  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.d{

  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.e{

  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.f{

  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
/*
.g, .h, .i, .j, .k, .l{

    background: -webkit-linear-gradient(transparent , rgba(0,0,0,0.7)); /
      background: -o-linear-gradient(transparent , rgba(0,0,0,0.7));
      background: -moz-linear-gradient(transparent , rgba(0,0,0,0.7));
      background: linear-gradient(transparent , rgba(0,0,0,0.7));
}*/
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.plancard{
  width: 300px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  padding: 15px;
  margin-top: 50px;
  background-color:  rgba(0,0,0,0.7);
  height: 400px;

    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}
.plancard:hover{
    width: 350px;
    height: 450px;
    background-color:  rgba(0,0,0,0.9);
    border: 2px solid #03A9F4;
}
/*
.back{
  background-color:  rgba(0,0,0,0.5);
}*/
.butn {
  box-shadow: none !important;
  border: 1px  solid #03A9F4;
  width: 90px;
  height: 40px;
  font-size: 15px;
  background-color:  transparent;
  border-radius: 25px;
  outline: 0;
  color: #ffffff;

  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.butn:hover{
  box-shadow: none !important;
  border: 1px  solid white;
  width: 90px;
  height: 40px;
  font-size: 15px;
  background-color:  White;
  border-radius: 25px;
  outline: 0;
  color: #03A9F4;
}

.butn1{
  box-shadow: none !important;
  border: 1px  solid #03A9F4;
  width: 90px;
  height: 40px;
  font-size: 15px;
  background-color:  transparent;
  border-radius: 25px;
  outline: 0;
  color: black;

  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.butn1:hover{
  box-shadow: none !important;
  border: 1px  solid black;
  width: 90px;
  height: 40px;
  font-size: 15px;
  background-color:  black;
  border-radius: 25px;
  outline: 0;
  color: #03A9F4;
}
@font-face {
        font-family: "kelvetica";
        src: url(kelvetica.otf);
}
.semi{

    height: 80%;
  background: -webkit-linear-gradient(left, transparent , rgba(0,0,0,0.7)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, transparent , rgba(0,0,0,0.7));  /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, transparent , rgba(0,0,0,0.7)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, transparent , rgba(0,0,0,0.7));
}

.semi1{
  height: 80%;
  background: -webkit-linear-gradient(rgba(0,0,0,1) , transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,1) , transparent);  /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,1) , transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,1) , transparent);
}
.bgimg-1 {
  background-image: url("droneimage.jpg");
  z-index: 0;
  min-height: 80%;
}

.bgimg-2 {
  background-image: url("mavicpro1.png");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("");
  min-height: 80%;
}

.caption {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: right;
  color: #000;

      height: 100%;
    background: -webkit-linear-gradient(left, transparent , rgba(0,0,0,0.8)); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(left, transparent , rgba(0,0,0,0.8));  /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(left, transparent , rgba(0,0,0,0.8)); /* For Firefox 3.6 to 15 */
      background: linear-gradient(left, transparent , rgba(0,0,0,0.8));
}
.caption1 {
  position: absolute;
  left: -5%;
  top: 20%;
  width: 100%;
  text-align: right;
  color: #000;

}

.caption h4.border {
  color: #ffffff;
  text-align: top,right;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 70px;
  font-family: helvetica;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.nav{
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
}
.ul li a{
		color: white;
		text-decoration: none;
		display:inline-block;
    width: 190px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.ul{
	margin: 0;
	padding: 10px;
}
.ul li{
		float: left;
    margin-left: 30px;
		width: 250px;
		height: 40px;
		padding: 0,10px,0,0;
		font-size: 20px;
		text-align: center;
		line-height: 40px;
		list-style: none;
}
.ul li a:hover{
  border-radius: 25px;
  background-color: white;
  width: 250px;
  height: 40px;
  color: #03A9F4;
  font-size: 25px;
}

.histtab{
  height: 50%;
}

hr{

    height: 2px;
    border: 0;
    border-top: 2px solid #03A9F4;
    margin-left: 1px;
    margin-right: 1px;
    padding: 2px;
}


.heading{
  text-align: left;
  font-size: 30px;
  padding-top: 10px;
  border-bottom: 1px solid grey;

}
.heading1{
  text-align: right;
  font-size: 30px;
  padding-top: 10px;
  border-top: 2px solid #FF5733;

}
.card{

  margin: 10px;
  }

.imgRoundedCorners{
  border-radius: 25px;
}
.imgRoundedCorners1{
  margin: 10px;
  border-radius: 25px;
  width: 300px;
  height:250px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  margin-right: -120px;
  margin-left: -120px;
  color: #ff5733;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*image grow animation*/
.zoomin img {
  height: 50px;
  width: 50px;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.zoomin img:hover {
  width: 100px;
  height: 100px;
}

.zoomin1 img {
width: 300px;
height:250px;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.zoomin1 img:hover {
  width: 400px;
  height: 350px;
}
